.artists, 
.song-title{
    padding: 0% !important;
}

.audio{
    background-color: darkgreen;
    color: white;
    width: 400px;
    align-items: center;
}

.music{
    border: solid white;
    border-radius: 50% !important;
    background-color: rgb(4, 126, 4);
    
}

.whos-who{
    font-family: 'DynaPuff', cursive;
}

@media screen and (max-width:996px) {
    .guess-who-row{
        flex-direction: column !important;
        align-content: center !important;
        margin-top: .9rem !important;
    }
}

@media screen and (max-width:996px) {
    .artist-div{
        display: flex;
        justify-content: center;
        width: 400px !important;
    }
}